datasets==3.3.2
evaluate==0.4.3
huggingface-hub==0.28.1
matplotlib==3.10.0
matplotlib-inline==0.1.7
nltk==3.9.1
numpy==1.26.4
openai==0.28.1
pandas==2.2.3
rouge==1.0.1
rouge_score==0.1.2
sacrebleu==2.5.1
sacremoses==0.1.1
scikit-learn==1.6.1
scikit-optimize==0.10.2
scipy==1.15.1
tokenizers==0.21.0
torch==2.6.0
torch-geometric==2.6.1
torchvision==0.21.0
tornado==6.4.2
tqdm==4.67.1
transformers==4.48.3



